<header id="headerPage">
   <h1>Pose ou remplacement de porte d'entrée</h1>
   <h2>Trouvez et comparez 4 artisans professionnels près de chez vous</h2>
   <div id="proposition">
      <div class="row">
         <div class="number">1</div>
         <div class="text">
            Décrivez simplement votre besoin en remplissant ce formulaire
         </div>
      </div>
      <div class="row">
         <div class="number">2</div>
         <div class="text">
            Un conseiller vous rappelle afin de préciser votre projet
         </div>
      </div>
      <div class="row">
         <div class="number">3</div>
         <div class="text">
            Quatre artisans vous proposent gratuitement des devis
         </div>
      </div>
      <div class="row">
         <div class="number">4</div>
         <div class="text">
            Comparez-les et lancez vos travaux !
         </div>
      </div>
   </div>
</header>
