<!DOCTYPE html>
<html ng-app='myModule'>
   {% include head.html %}
   <body style="background: url(https://travorama.fr/static/landings/{{page.image}}) no-repeat center fixed;">
      {% include header.html %}
      <main class="container">
         {% include pageheader.html %}
         {{ content }}
         <div class="push"></div>
      </main>
      <script>
      angular.module('myModule', ['schemaForm'])
       .controller('FormController', function($scope) {
           $scope.schema = {
             type: "object",
             properties: {
               "Eau potablxe": {
                  "title": "Eau potxxxable",
                  "type": "boolean",
                  "name": "category",
                  "htmlClass": "row",
                  "fieldHtmlClass": "radio six columns"
                  "labelHtmlClass" "label-body"
                  
                },
                "Gaz": {
                  "title": "Gaz",
                  "type": "boolean"
                },
                "Électricité": {
                  "title": "Électricité",
                  "type": "boolean"
                },
                "Égouts": {
                  "title": "Égouts",
                  "type": "boolean"
                },
                "Téléphone": {
                  "title": "Téléphone",
                  "type": "boolean"
                },
             }
           };

           $scope.form = [
             "*",
             {
               type: "submit",
               title: "Save"
             }
           ];

           $scope.model = {};
         });
      </script>   
   </body>
</html>
