<!DOCTYPE html>
<html ng-app='myModule'>
   {% include head.html %}
   <body style="background: url(https://travorama.fr/static/landings/{{page.image}}) no-repeat center fixed;">
      {% include header.html %}
      <main class="container">
         {% include pageheader.html %}
         {{ content }}
         <div class="push"></div>
      </main>
      <script>
      angular.module('myModule', ['schemaForm'])
       .controller('FormController', function($scope) {
           $scope.schema = {
             type: "object",
             properties: {
               name: { type: "string", minLength: 2, title: "Name", description: "Name or alias" },
               title: {
                 type: "string",
                 enum: ['dr','jr','sir','mrs','mr','NaN','dj']
               }
             }
           };

           $scope.form = [
             "*",
             {
               type: "submit",
               title: "Save"
             }
           ];

           $scope.model = {};
         });
      </script>   
   </body>
</html>
