
.container {
      display: block;
      max-width: 768px !important;
      padding: 2rem 2rem 10rem 2rem !important; 
      @media (max-width: 1280px) {
          max-width: 640px;  
      } 
      @media (max-width: 568px) {
          min-width: 100%;
      }
      header  {
          margin: 0rem 0rem 2rem 0rem;
          background: White;
          border-radius: 4rem;
          padding: 1rem 5rem 3rem 5rem;
          text-align: center;
          @media (max-width: 768px) {
              padding: 2rem 0rem;
          }      
      }      
}      
